 *{
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
} 

body{
    font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif
 }

 h1,h2,h3,h4,h5,h6{
     font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
     font-weight:700;
     }
     
.caps{
    text-transform: uppercase;
}


.nav .btn {
    margin-right: 25px;
}

.justify-content-center {
    justify-content: space-between;
    padding: 15px 60px;
    margin-bottom: -3rem;
}

.navBar{
    background-color: #111111b8;
    overflow: hidden;
    height: 63px;
}

.navBar a{
    float:left;
    display: block;
    color: #d0d2d8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navBar ul{
    margin: 8px 0 0 0;
    list-style: none;
}


.side-navBar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 63px;
    left: 0;
    background-color: #111111b8;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-navBar a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #d0d2d8;
    display: block;
    transition: 0.3s;
}


.side-navBar .btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.page-numbers{
    padding-bottom: 5rem;
}

.page-link{
    color: #111111b8;
}

.page-item.active .page-link{
    z-index: 1;
    color: black;
    background-color: #ffc107;
    border-color: #ffc107;
}

.allergens{
    color: #e9ecef;
}

.allergens:hover{
        color: #dc3545;
}

.flashes{
    background-color: #dc3545;
    text-align: center;
    font-size: x-large;
    margin-top: 3rem;
    border-radius: 15px;
    color: #e9ecef;
}

#main{
    transition: margin-left 0.5s;
    padding:20px;
    overflow: hidden;
    width: 100%;
}


@media(max-width:568px){
    .navBar-navLink{display: none}
}


/*home page*/
.posts-heading{
    font-size: 5rem;
}

.user_posts{
    position:relative;
    background-color:#343a40;
    background:url(/static/img/postsimg.jpg) no-repeat center center;
    background-size:cover;
    padding-top:18rem;
    padding-bottom:18rem;
    margin-bottom: 2rem;
}

.button-cards .form-control-lg{
    border-radius: 10px;
    width: fit-content;
}

.col-lg-3{
padding-bottom: 5rem;
margin-top: 3rem;
}

header.masthead{
    position:relative;
    background-color:#343a40;
    background:url(/static/img/headerimg1.jpg) no-repeat center center;
    background-size:cover;
    padding-top:8rem;
    padding-bottom:8rem;
    }

.smoothieshead{
    position:relative;
    background-color:#343a40;
    background:url(/static/img/smoothiesimg2.jpg) no-repeat center center;
    background-size:cover;
    padding-top: 10rem;
    padding-bottom: 10rem;
    }
    
/*header.masthead .overlay{
    position:absolute;
    background-color:#212529;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:.3;
}*/

.overlay{
    position:absolute;
    background-color:#212529;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:.3;
}

.alert-message{
    text-align: center;
    z-index: 3041;
    top: 6rem;
}

.navBar-btn a{
    color: black;
    padding-top: 7px;
}

.navBar-btn{
    float: right;
    border-radius: 15px;
    height: 2.7rem;
    margin: 5px 20px;
}

.navBar-brand{
    color: #e9ecef;
    font-size: x-large;
    font-weight: 600;
    float: right;
    padding-top: 15px;
    padding-right: 30px;
}

.btn,
.form-control-lg {
    border-radius: 10px;
}

    
header.masthead h1{
    font-size:2rem;
}

header.smoothieshead h1{
    font-size:2rem;
}

.intro{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.intro-icons{
    color: #f56881;
}

.dessert{
    background-color: #f7d6b552;
}

.protein{
    background-color: #edffe496;
}

.vegan{
    background-color: #ffe4ed96;
}

.fa-ice-cream{
    color: #f1ba57;
}

.fa-dumbbell{
    color: #7dc124;
}

.fa-seedling{
    color: #ef62a8;
}

.footer-links a{
    color: #dc3545;
}

.footer-links a:hover {
    color: #000000;
    text-decoration: none;
}

.footer-icons a{
    color: #000000;
}

.footer-icons a:hover {
    color: #dc3545;
    text-decoration: none;
}

.sign-up-link{
    color: #ffc107;
}

.register-link:hover,
.sign-up-link:hover{
    color: #dc3545;
}



.flashes{
    list-style-type: none;
}

.card-img-view{
   width: 30vw;
    height: 30vw;
    object-fit: cover; 
    border-radius: 15px;
    margin-left: 50px;
}

.card-height{
    height: 9rem;
}

.card-img-top {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.card{
    width: 19rem;
    padding: 5px 20px 40px 20px;
    border: none;
    height: 35rem;
    margin-bottom: 5rem;
}

.card-btns .btn{
    width: 5rem;
}

.img-position{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.card-title {
    height: 4rem;
}


.right-span{
    float: right;
}

.card-btns{
text-align: center;
}

.text-muted {
    color: #d0d2d8!important;
}

.container-view {
    border-radius: 25px;
    background-color: #111111b8;
    padding: 3rem 3rem;
    font-size: larger;
    margin: 5rem;
}

.container-view img{
    border-radius: 25px;
     width: 25rem;
    height: 25rem;
    object-fit: cover; 
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.user-input{
    margin-top: 8rem;
    margin-bottom: 3rem
}

.view-container{
height: 100vh;
  background: url("/static/img/icecubes1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-container .jumbotron {
    background-color: #111111b8;
    border-radius: 20px;
    padding: 3em 8em;
    margin: 3em 8em;
}

.login-container {
  height: 100vh;
  background: url("/static/img/loginimg1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container{
      height: 100vh;
  background: url("/static/img/registerimg1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron{
    background-color: #111111b8;
    border-radius: 20px;
    padding: 3em 3em;
}

.formbox{
    height: 80%;
}

.login-button{
    width: 8rem;
    display: inline;
}

@media (min-width:768px){
    header.masthead{
        padding-top:12rem;
        padding-bottom:12rem;
        }
    header.masthead h1{
        font-size:4rem;
        }
    header.smoothiehead{
        padding-top:12rem;
        padding-bottom:12rem;
        }
    header.smoothieshead h1{
        font-size:4rem;
        }    
    .justify-content-center {
        justify-content: space-between;
        padding: 15px 5px;
        margin-bottom: -3rem;
        }
        .background-colour{
        color: #fff!important;
    background-color: #f7d6b552;
    padding: 6rem;
}
        }
    }
        
.showcase .showcase-text{
    padding:3rem;
    }
    
.showcase .showcase-img{
    min-height:30rem;
    background-size:cover;
    }
    
@media (min-width:768px){
    .showcase .showcase-text{
        padding:7rem;
        }
    }
    
    
.testimonials{
    padding-top:7rem;
    padding-bottom:7rem;
    }
    
.testimonials .testimonial-item{
    max-width:18rem;
    }
    
.testimonials .testimonial-item img{
    max-width:12rem;
    box-shadow:0 5px 5px 0 #adb5bd
    }
    
.call-to-action{
    position:relative;
    background-color:#343a40;
    background:url("/static/img/headerimg1.jpg") no-repeat center center;
    background-size:cover;
    padding-top:7rem;
    padding-bottom:7rem;
    }
    
.call-to-action .overlay{
    position:absolute;
    background-color:#212529;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:.3;
    }
    
footer.footer{
    padding-top:3rem;
    padding-bottom:2rem;
    }

.drinks-container{
    margin-left: 2rem;
    margin-right: 2rem;
}

@media (min-width: 920px){

}

@media (max-width: 700px){
    .container-view {
    border-radius: 0;
    background-color: #111111b8;
    padding: 6rem 3rem;
    font-size: larger;
    margin: 0rem; 
}
    
}

@media (max-width: 470px){
    .justify-content-center {
    justify-content: space-between;
    padding: 15px 5px;
    margin-bottom: -3rem;
}

}







