{% extends 'base.html' %} {% block content %}

<section class="add-container text-white">

<div class="jumbotron">


<form method="POST" action="{{ url_for('insert_drink') }}">
    
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Add My Smoothie!</legend>
<!--drink name-->
      <div class="form-group">
        {{ form.drink_name.label(class="form-control-label") }} 
        {% if form.drink_name.errors %} 
        {{ form.drink_name(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.drink_name.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.drink_name(class="form-control form-control-lg") }} 
        {% endif %}
      </div>

<!--select options-->
<!--choose category select option-->
<div class="row">
<div class="col-md-4 mb-4">
        <select class="custom-select" id="validationDefault02 category"
          name="category_name" required>
          <option selected disabled value="">Category</option>
          {% for cat in categories %}
          <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
          {% endfor %}
        </select>
        <div class="invalid-tooltip">
          Please select a valid category
        </div>
      </div>
<!--prep_time select option-->
      <div class="col-md-4 mb-4">
        <select class="custom-select" id="validationDefault03 prep_time" name="prep_time" required>
          <option selected disabled value="">Prep time</option>
          <option value="1">5 mins</option>
          <option value="2">10 mins</option>
          <option value="3">20mins</option>
        </select>
        <div class="invalid-tooltip">
          Please select a valid time
        </div>
      </div>

<!--serving select option-->
      <div class="col-md-4 mb-4">
        <select class="custom-select" id="validationDefault04 serves" name="serves" required>
          <option selected disabled value="">Serves...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <div class="invalid-tooltip">
          Please select a valid option
        </div>
      </div>
      </div>
   

<!--drink image-->
      <div class="form-group">
        {{ form.img_url.label(class="form-control-label") }} 
        {% if form.img_url.errors %} 
        {{ form.img_url(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.img_url.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.img_url(class="form-control form-control-lg") }} 
        {% endif %}
      </div>


<!--drink description-->
      <div class="form-group">
        {{ form.description.label(class="form-control-label") }} 
        {% if form.description.errors %} 
        {{ form.description(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.description.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.description(class="form-control form-control-lg") }} 
        {% endif %}
      </div>

<!--drink ingredients-->
      <div class="form-group">
        {{ form.ingredients.label(class="form-control-label") }} 
        {% if form.ingredients.errors %} 
        {{ form.ingredients(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.ingredients.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.ingredients(class="form-control form-control-lg") }} 
        {% endif %}
      </div>

<!--drink directions-->
      <div class="form-group">
        {{ form.directions.label(class="form-control-label") }} 
        {% if form.directions.errors %} 
        {{ form.directions(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.directions.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.directions(class="form-control form-control-lg") }} 
        {% endif %}
      </div>

<!-- submit button-->
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-warning") }}
    </div>
  </form>
</div>

</section>
{% endblock %}
