<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
    <script src="https://kit.fontawesome.com/e89976506e.js" crossorigin="anonymous"></script>
    <title>TuttiSmooti&co.</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" 
    type="image/x-icon" sizes="200x200">
  </head>
  <body>

<header>
    <nav class="navBar fixed-top">
      <span class="open-sideMenu">
        <a href="#" onclick="openSlideMenu()"
          >
        <svg width="30" height="30"></svg><i class="fas fa-bars"></i></a>
      </span>
      <ul class="navbar-navLinks">
    <li><a href="{{url_for('home')}}">Home</a></li>
    <li><a href="{{url_for('get_drinks')}}">Smoothies</a></li>
    <li><a href="{{url_for('register')}}">Register</a></li>
    </ul>
    <button class="navBar-btn btn-warning"><a href="{{url_for('login')}}">Login</a></button>
    </nav>
    <div id="side-menuBar" class="side-navBar">
      <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    
    <li><a href="{{url_for('user_posts', posts=session[username])}}">My Smoothies</a></li>
    
     <li><a href="{{url_for('add_drinks')}}">Quick Add</a></li>
     <li><a href="{{url_for('logout')}}">Logout</a></li>
    </div>
</header> 

<div role="main">
    <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
            <div class="col-md-6 offset-md-3 alert-message alert alert-{{ category }}">
                        {{ message }}
            </div>
                    {% endfor %}
                {% endif %}
            {% endwith %} </div>
        {% block content %} {% endblock %}
      
   
</div>
  <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2 footer-links">
              <li class="list-inline-item hvr-grow">
                <a href="{{url_for('get_drinks')}}">Recipes</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              
              <li class="list-inline-item hvr-grow">
                <a href="{{url_for('login')}}">Login</a>
              </li>
              
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">
              &copy; Tutti Smooti & Co. 2020. All Rights Reserved.
            </p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0 footer-icons">
              <li class="list-inline-item mr-3">
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fab fa-facebook fa-2x fa-fw hvr-grow"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="https://twitter.com/explore" target="_blank">
                  <i class="fab fa-twitter-square fa-2x fa-fw hvr-grow"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fab fa-instagram fa-2x fa-fw hvr-grow"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

 <script>
      function openSlideMenu() {
        document.getElementById("side-menuBar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }
      function closeSlideMenu() {
        document.getElementById("side-menuBar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
    </script>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
  </body>
</html>
