{% extends 'base.html' %} {% block content %}

<section class="container">
<h1>New Recipe</h1>
  <form method="POST" action="{{ url_for('insert_drink') }}">
   
        <!--Recipe Name-->
        <div class="form-group col-12">
            <label for="drink_name">Smoothie Name</label>
            {{ form.drink_name(id="drink_name", placeholder="Smoothie name goes here", class="validate", minlength="4", maxlength="30") }}
        </div>
       
       
        <!--Description-->
        <div class="form-group col-12">
            <label for="description">Description </label>
            {{ form.description(id="description", placeholder="Smoothie description goes here", class="validate", minlength="4", maxlength="300") }}
        </div>
       
        
        <!-- Serves-->
        <div class="form-group">
            <label for="serves">Number of Servings</label>
            <select id="serves" name="serves" required>
          <option selected disabled value="">Serves...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
            </select>
        </div>


        <!-- Prep_Time-->
        <div class="form-group">
        <label for="serves">Preperation Time (mins)</label>
        <select id="prep_time" name="prep_time" required>
          <option selected disabled value="">Prep time</option>
          <option value="1">5 mins</option>
          <option value="2">10 mins</option>
          <option value="3">20mins</option>
        </select>
        </div>


        <!-- Category-->
        <div class="form-group">
        <label for="category_name">Choose category</label>
        <select id="category_name" name="prep_time" required>
        <option selected disabled value="">Choose Category</option>
          {% for category in categories %}
          <option value="{{ category.category_name }}">{{ category.category_name }}</option>
          {% endfor %}
        </select>
        </div>

        <!--Ingredients-->
        <div class="form-group">
         <label for="ingredients">Ingredients</label>
            {{ form.ingredients(id="ingredients", placeholder="Add each ingredient on a new line", class="validate") }}
           
        </div>

        <!--Directions-->
        <div class="form-group">        
            <label for="directions">Directions</label>
            {{ form.directions(id="directions", placeholder="Directions go here", class="validate") }}
        </div>


        <!--Img_URL-->
        <div class="form-group">
        <label for="img_url">Img_URL</label>
            {{ form.img_url(id="img_url", placeholder="Paste your image URL here", class="validate") }}
        </div>


   
        <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
        </div>
    
  </form>
</section>


{% endblock %}