{% extends 'base.html' %} {% block content %}

<header class="smoothieshead text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Having a smoothie kind of day?</h2>
        <h5>Did you know, you can target health benefits with the ingredients you choose to blend!</h5>
         <a href="{{ url_for('about') }}"
                >Find out more here</a>
      </div>
    </div>
  </div>
</header>
<!--category bar-->

<section>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Searching for something in particular?</a>
  </li>
  <li class="nav-item">
    <div class="dropdown">
  <button class="btn btn-warning dropdown-toggle" name="category_name" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Browse Categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  {% for category in categories %}
  {% if category.category_name == drink.category_name %}
    <select class="dropdown-item" href="#"value="{{ cat.category_name }}" selected> {{ cat.category_name }}</select>
 {% else %}
    <select class="dropdown-item" href="#"value="{{ cat.category_name }}"> {{ cat.category_name }}</select>
    {% endif %}
    {% endfor %}
  </div>
</div>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-success">Add Smoothie</button>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('register') }}"> Not Registered?</a>
  </li>
</ul>
</section>

<!--smoothie cards-->
<section class="container-fluid">
  <div class="">
    <div class="row">
      {% for drink in drinks %}
      <div class="col-lg-3 col-md-4 col-12">
        <div class="card">
          <div class="card-image">
            <img class="card-img-top img-position" src="{{drink.img_url}}" />
          </div>
          <div class="card-content">
          <br>
            <h5 class="card-title ">
            {{drink.drink_name}}</h5>
            <p>
              <a href="{{ url_for('view_card', card_id=drink._id) }}">Get the Recipie!</a>
            </p>
          </div>
          <div class="card-reveal">
            <p>{{drink.description}}</p>
            <small>Author: {{drink.username}}</small>
          </div>
          <hr>
          <div class="card-btns">
            <a href="{{ url_for('edit_drink', drink_id=drink._id) }}"
              type="button" class="btn btn-success"><i class="fas fa-pen"></i>
              </a>
            <a href="{{ url_for('delete_drink', drink_id=drink._id) }}"
              type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i>
              </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!--signup call to action-->
 <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get blending? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" class="form-control form-control-lg" placeholder="Enter your username...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-warning hvr-buzz">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Smoothie?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure? Once its gone, its gone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
