{% extends 'base.html' %} {% block content %}

<div class="container user-input">
<h2 class="centre">Update my Smoothie!</h2>
  <form method="POST" class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-6 mb-4">
        <input type="text" class="form-control" id="validationDefault01 drink_name"
          name="drink_name" placeholder="Smoothie Name" value="{{drink.drink_name}}" required />
      </div>

      <div class="col-md-2 mb-2">
        <select class="custom-select" id="validationDefault02 category"
          name="category_name" required>
          <option selected disabled value="">Category</option>
          {% for cat in categories %}
          {% if cat.category_name == drink.category_name %}
          <option value="{{ cat.category_name }}" selected>{{ cat.category_name }}</option>
          {% else %}
          <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
          {% endif %}
          {% endfor %}
        </select>
        <div class="invalid-tooltip">
          Please select a valid category
        </div>
      </div>

      <div class="col-md-2 mb-2">
        <select class="custom-select" id="validationDefault03 prep_time" name="prep_time" required>
          <option selected disabled value="">Prep time</option>
          <option value="1">5 mins</option>
          <option value="2">10 mins</option>
          <option value="3">20mins</option>
        </select>
        <div class="invalid-tooltip">
          Please select a valid time
        </div>
      </div>

      <div class="col-md-2 mb-2">
        <select class="custom-select" id="validationDefault04 serves" name="serves" required>
          <option selected disabled value="">Serves...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <div class="invalid-tooltip">
          Please select a valid option
        </div>
      </div>
    </div>

    <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="Smoothie Description"
        id="validationDefault05 description" name="description" required>{{drink.description}}</textarea>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Image URL"
        id="validationDefault06 img_url" name="img_url" value="{{drink.img_url}}" required />
    </div>

    <div class="form-group">
      <textarea class="form-control" id="validationDefault07 ingredients"
        name="ingredients" rows="5" placeholder="Ingredients" required >{% for ingredient in drink.ingredients -%}
{{ingredient + "\n"}}
{%- endfor %}
        </textarea>
    </div>

    <div class="form-group">
      <textarea class="form-control" id="validationDefault08 directions" name="directions"
        rows="3" placeholder="Directions" required >{{drink.directions}}</textarea>
    </div>
    <!-- <a href="" class="btn btn-warning" type="submit" name="action">Updated</a> -->
    <button class="btn btn-warning" type="submit" name="action">Update</button>

  </form>
</div>

{% endblock %}