{% extends 'base.html' %} {% block content %}

<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
      <h1 class="mb-3">Tutti Smooti & Co.</h1>
        <h2 class="mb-4">Ready to get blending? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form method="POST" action="{{url_for('register')}}">
          {{ form.hidden_tag() }}
          <div class="form-row" placeholder="username">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              {% if form.username.errors %} {{ form.username(class="form-control
              form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.username(class="form-control form-control-lg")
              }} {% endif %}
            </div>
            <!-- </div> -->
            <div class="col-12 col-md-3">
              <button
                type="submit"
                class="btn btn-block btn-lg btn-warning hvr-buzz"
              >
                Sign Up!
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="intro container text-center">
    <div class="row">
      <div class="col-12">
        <div class="">
          <h2>Chop. Blitz. Pour.</h2>
          <h3 class="intro-icons">
            <i class="far fa-hand-scissors"></i> .
            <i class="fas fa-blender"></i> .
            <i class="fas fa-glass-whiskey"></i>
          </h3>
          <p>
            Have you ever wondered what to eat before hitting the gym or your
            weekly zumba session? Maybe, you wanted a quick fix for a
            nutritional snack, or even breakfast on-the-go. Now you can give
            your body what it needs in terms of both energy or wind down. Here
            at Tutti Smooti & Co, we in conjunction with our users have put
            together a catalogue of some tantalizing Smoothie recipes for you to
            enjoy.
          </p>
          <p>Whats your Smoothie?</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters dessert">
      <div
        class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('{{ url_for('static', filename='img/dessert1.jpg') }}')"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h3 class="caps hvr-grow">
          <i class="fas fa-ice-cream"></i> Dessert Smoothies
        </h3>
        <p class="lead mb-0">
          These low-calorie dessert smoothies are packed with vitamins, protein,
          and other energy-boosting goodness to start your day off right.
          Recipies from pumpkin pie to chocolate pudding, what will you try?
        </p>
      </div>
    </div>
    <div class="row no-gutters protein">
      <div
        class="col-lg-6 text-white showcase-img"
        style="background-image: url('{{ url_for('static', filename='img/protein.jpg') }}')"
      ></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h3 class="caps hvr-grow">
          <i class="fas fa-dumbbell"></i> Protein Smoothies
        </h3>
        <p class="lead mb-0">
          Whether you’re looking to pack on some muscle or slim down to fit into
          your favourite jeans again, make these protein shake recipes to
          complement your protein powder, maximise flavour and boost results.
        </p>
      </div>
    </div>
    <div class="row no-gutters vegan">
      <div
        class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('{{ url_for('static', filename='img/vegan.jpg') }}')"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h3 class="caps hvr-grow">
          <i class="fas fa-seedling"></i> Vegan Smoothies
        </h3>
        <p class="lead mb-0">
          By falling back on good fats and proteins, such as avocado and nut
          milks, you can blend up filling vegan smoothies that taste just as
          delicious as any other. Give our tasty—vegan smoothie combos a try.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get blending? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form method="POST" action="{{url_for('register')}}">
          {{ form.hidden_tag() }}
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              {% if form.username.errors %} {{ form.username(class="form-control
              form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.username(class="form-control form-control-lg")
              }} {% endif %}
            </div>
          
          <div class="col-12 col-md-3">
            <button
              type="submit"
              class="btn btn-block btn-lg btn-warning hvr-buzz"
            >
              Sign Up!
            </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
