{% extends 'base.html' %} {% block content %}

<!-- HERO IMAGE PLUS REGISTERATION FORM AND TEXT -->
<!-- responses will differ depedning on user being logged in or not -->
<header class="masthead text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-3 d-none d-lg-block">Tutti Smooti & Co.</h1>
        <!-- if users in session display a welcome message using tehir username -->
        {% if session['username'] %}
        <h2 class="mb-4">welcome back {{session['username']}}!</h2>
        <!-- if user is not logged in prompt user to register with tuttismooti -->
        {% else %}
        <h2 class="mb-4">Ready to get blending? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
      <!-- form calls upon the registartion route in app.py -->
        <form method="POST" action="{{url_for('register')}}">
          {{ form.hidden_tag() }}
          <div class="form-row" placeholder="username">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              {% if form.username.errors %} 
            <!-- how to handle an error(usually used with emails/password logins), 
            however i have kept just a username-->
              {{ form.username(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} 
              <!-- calls upon the forms username input field, what user can see if no errors occur -->
              {{ form.username(class="form-control form-control-lg") }} 
              {% endif %}
            </div>
            <!-- button for submitting the form -->
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-warning hvr-buzz">Sign Up!</button>
            </div>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<!-- INTRODUCTION -->
<section>
  <div class="intro container text-center">
    <div class="row">
      <div class="col-12">
        <div class="">
          <h2>Chop. Blitz. Pour.</h2>
          <h3 class="intro-icons">
            <i class="far fa-hand-scissors"></i> .
            <i class="fas fa-blender"></i> .
            <i class="fas fa-glass-whiskey"></i>
          </h3>
          <p>
            Have you ever wondered what to eat before hitting the gym or your
            weekly zumba session? Maybe, you wanted a quick fix for a
            nutritional snack, or even breakfast on-the-go. Now you can give
            your body what it needs in terms of both energy or wind down. Here
            at Tutti Smooti & Co, we in conjunction with our users have put
            together a catalogue of some tantalizing Smoothie recipes for you to
            enjoy.
          </p>
          <p>Whats your Smoothie?</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- INFO ON CATEGORIES AVAILABLE -->
<section class="showcase">
  <div class="container-fluid p-0">
  <!-- Dessert text info on the left, image on the right -->
    <div class="row no-gutters mobile-side-space dessert">
    <!-- md and lg screen image -->
      <div class="col-lg-6 d-none d-md-block order-lg-2 text-white showcase-img" style="background-image: 
      url('{{ url_for('static', filename='img/dessert1.jpg') }}')"></div>
      <!-- Small screen image -->
      <div class="col-12 d-md-none text-white showcase-img" style="background-image: 
      url('{{ url_for('static', filename='img/dessert-sm.jpg') }}')"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h3 class="caps hvr-grow mt-5"><i class="fas fa-ice-cream"></i> Dessert Smoothies</h3>
        <p class="lead mb-0">
          These low-calorie dessert smoothies are packed with vitamins, protein,
          and other energy-boosting goodness to start your day off right.
          Recipies from pumpkin pie to chocolate pudding, what will you try?
        </p>
        <!-- hard-coded call for the category function, embeded in the button to display Dessert smoothies only -->
        <div class="category-btn">
          <a class="btn btn-success mt-3 mb-5" href="{{ url_for('browse_category', category='Dessert' ) }}" role="button">Dessert Smoothies</a>
        </div>
      </div>
    </div>
    <!-- Protein text info on the left, image on the right -->
    <div class="row no-gutters mobile-side-space protein">
      <div class="col-lg-6 d-none d-md-block text-white showcase-img" style="background-image: 
      url('{{ url_for('static', filename='img/protein.jpg') }}')"></div>
      <!-- Small screen image -->
      <div class="col-12 d-md-none text-white showcase-img" style="background-image: 
      url('{{ url_for('static', filename='img/protein-sm.jpg') }}')"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h3 class="caps hvr-grow mt-5"><i class="fas fa-dumbbell"></i> Protein Smoothies</h3>
        <p class="lead mb-0">
          Whether you’re looking to pack on some muscle or slim down to fit into
          your favourite jeans again, make these protein shake recipes to
          complement your protein powder, maximise flavour and boost results.
        </p>
        <!-- hard-coded call for the category function, embeded in the button to display Protein smoothies only -->
        <div class="category-btn">
        <a class="btn btn-success mt-3 mb-5" href="{{ url_for('browse_category', category='Protein') }}" role="button">Protein Smoothies</a>
        </div>
      </div>
    </div>
    <!-- Vegan text info on the left, image on the right -->
    <div class="row no-gutters mobile-side-space vegan">
      <div class="col-lg-6 d-none d-md-block order-lg-2 text-white showcase-img" style="background-image: 
      url('{{ url_for('static', filename='img/vegan.jpg') }}')"></div>
      <!-- Small screen image -->
      <div class="col-12 d-md-none text-white showcase-img" style="background-image: 
      url('{{ url_for('static', filename='img/vegan-sm.jpg') }}')"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h3 class="caps hvr-grow mt-5"><i class="fas fa-seedling"></i> Vegan Smoothies</h3>
        <p class="lead mb-0">
          By falling back on good fats and proteins, such as avocado and nut
          milks, you can blend up filling vegan smoothies that taste just as
          delicious as any other. Give our tasty—vegan smoothie combos a try.
        </p>
        <!-- hard-coded call for the category function, embeded in the button to display Vegan smoothies only -->
        <div class="category-btn">
          <a class="btn btn-success mt-3 mb-5" href="{{ url_for('browse_category', category='Vegan') }}" role="button">Vegan Smoothies</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SECOND PROMPT TO REGISTER -->
<section class="call-to-action text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
      <!-- responses will differ depedning on user being logged in or not -->
        {% if session['username'] %}
        <!-- if users in session display a prompt to add a recipe -->
        <h2 class="mb-4">Hey {{session['username']}}, why not add a recipe!?</h2>
        <!-- submit button triggers the function to add drinks, this then redirects to add_drinks page -->
        <a class="btn btn-warning" href="{{url_for('add_drinks')}}" role="button">Add Smoothie</a>
        {% else %}
        <!-- if user is not logged in prompt user to register with tuttismooti -->
        <h2 class="mb-4">Ready to get blending? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
      <!-- form calls upon the registartion route in app.py -->
        <form method="POST" action="{{url_for('register')}}">
          {{ form.hidden_tag() }}
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              {% if form.username.errors %}
              <!-- how to handle an error(usually used with emails/password logins), 
            however i have kept just a username--> 
              {{ form.username(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} 
               <!-- calls upon the forms username input field, what user can see if no errors occur -->
              {{ form.username(class="form-control form-control-lg") }} 
              {% endif %}
            </div>
            <!-- button for submitting the form -->
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-warning hvr-buzz">Sign Up!</button>
            </div>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
